{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chordination-formations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'formation.js' %}"> </script>

</head>
<body>
  <button id = "menu" type = "button">
    Main Menu
  </button>
  <div id="canvases">
    <canvas id="myCanvas"></canvas>
  </div>  
  <div id="preset">
    <h3>
      Preset Formation
    </h3>
    {% for position in positions %}
      {{position}}
      <br>
    {% empty %}
      No positions in formation.
    {% endfor %}
  </div> 
  <div id="formationOptions"> 
    <h3>
      Formation Options
    </h3>
    Preset <input type="checkbox" class="css-checkbox" id="presetCheckBox"><br>
    Toggle Switch <input type="checkbox" class="css-checkbox" id="switchCheckBox"><br>
    Toggle Group Move <input type="checkbox" class="css-checkbox" id="groupCheckBox"><br>
    Grid Step <input type="number" id="gridStep" value="1" min="1">
  </div>  
  <div id="infoSection"> 
     <h3>
       Dancer Information
    </h3>
     <p id="Name">Name:</p>
     <p id="Number">Number:</p>
  </div>


</body>

</html>