{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chordination-formations</title>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'formation.js' %}"> </script>

</head>
<body>
  <button id = "menu">
    Main Menu
  </button>
  <div id="canvases">
    <canvas id="myCanvas" resize="true"></canvas>
    <select id="selectionOptions" multiple="multiple" style="overflow: auto">
      <optgroup label="Modes">
        <option selected="selected">Normal</option>
        <option id="switchCheckBox">Switch</option>
        <option id="groupCheckBox">Selection</option>
      </optgroup>
    </select>
    <select id="layerOptions" multiple="multiple" size="3" style="overflow: auto">
      <optgroup id="layersOptgroup" label="Layers">
        <option id="newLayer">Add Layer</option>
        <option selected="selected" id="layer0">Layer 0</option>
      </optgroup>
    </select>
  </div>  
  <div class="preset">
    <h3>
      Preset Formations
    </h3>
    <div class = "image-container">
      <div id = "1stimage">
        <img id = "img1" src = "/static/draw/images/preset1.jpg"><br>
      </div>
      <div id = "2ndimage">
        <img id = "img2" src = "/static/draw/images/preset2.jpg"><br>
      </div>
      <div id = "3rdimage">
        <img id = "img3" src = "/static/draw/images/preset2.jpg"><br>
      </div>
    </div>
  </div> 
  <div id="formationOptions"> 
    <h3>
      Formation Options
    </h3>
    Preset <input type="checkbox" class="checkboxes" id="presetCheckBox"><br>
    Grid Step <input type="number" id="gridStep" value="1" min="1">
  </div>  
  <div id="infoSection">
     <h3>
       Dancer Information
    </h3>
     <p id="Name">Name:</p>
     <p id="Number">Number:</p>
  </div>
  <button id="save" type="submit">Save Formation</button>
  <input type="text" id ="finput">

</body>
   
</html>