{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Chordination-formations</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'formation.js' %}"> </script>

</head>
<body>
  <div id="canvases">
    <canvas id="myCanvas"></canvas>
  </div>
  <div id="formationOptions"> 
    Switch <input type="checkbox" id="switchCheckBox">
    Grid Step <input type="number" id="gridStep" value="1" min="1">
  </div>


</body>

</html>