{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'roster.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    </head>

    <body>
      <div class = "hero">
        <button id = "menu">
          Main Menu
        </button>
        <h1>
          Current Roster
        </h1>

        <div id="roster-container">
          <div id="roster">
<!--             {% for dancer in dancers %}
              {{dancer}}
              <hr/>
              <br>
            {% empty %}
              No dancers in the roster.
            {% endfor %} -->
          </div>

        </div>

        <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name = "first_name" id="input_name" onfocus="this.value=''"><br>
          <button type="submit" id="submit">
            Add Member
          </button>
        </form>
      </div>
    </body>

    <script>
      $(document).ready(function() {
        $("#menu").on("click", () =>{ 
          location.href = "{% url 'menu' %}";
        });  
        
        // makes a get request to the db and adds the roster names to the dom
        $.get("{% url 'roster_data' %}", function(data) {
          var dancers_json = data;
          $.each(dancers_json, function( id, name_color ) {
            //console.log(id + ". " + name_color["name"]); //dancers_json format = {id:{name,color}}
            $("#roster").append(id + ". " + name_color["name"] + "<hr/> <br>");
          });
          //console.log(data)
        });
        
        // makes a post request without the page reloading and adds the newly added dancer to the roster and displays on the dom
        $("form").submit(function(){
          $.post("{% url 'roster_data' %}", {"first_name": $("#input_name").val() , csrfmiddlewaretoken: '{{ csrf_token }}'}, function(data) {
          // show newly added name
          var dancers_json = data;  
          $("#roster").empty(); 
          // redundant (could have appended just the new dancer but don't know how to access that one?) and didn't wanted to change the api 
          // so kept it this way for now
          $.each(dancers_json, function( id, name_color ) {
            $("#roster").append(id + ". " + name_color["name"] + "<hr/> <br>");
          });  
        })
          return false;
        });
        
        
//         var socket = new WebSocket('wss://p3-websockets-qpham843-qpham843667163.codeanyapp.com/ws/draw');
//         var members = [];
        
//         $("#submit").click(function() {
//           var member = {
//             number: members.length + 1,
//             name: document.getElementById("input_name").value
//           };
//           members.push(member);
//           socket.send(JSON.stringify(member));
//         });

//         socket.onmessage = function(e) {
//           var msg = JSON.parse(e.data);
//           var roster = document.getElementById("roster");
//           roster.innerHTML = roster.innerHTML + msg.number + ". " + msg.name + "<br>";
//           roster.innerHTML = roster.innerHTML + "<hr/>";
//         };
      });
    </script>
  
</html>