      * {
        margin: 0;
        padding: 0;
      }
      html, body {
        width: 100%;
        height: 100%;
      }
      .hero {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        position: relative;
      }
      .hero::before {
        background-image: url('/static/draw/images/rosterbackground.jpg');
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0.4;
      } 
      input {
        background-color: lightblue;
      }
      form {
        text-align: center;
      }
      h1 {
        text-align: center;
        font-family: 'Canvas Style';
        margin-bottom: 20px;
      }
      button {
        margin-top: 10px;
        font-family: 'Open Sans';
        border-radius: 10px;
        font-size: 20px;
        background-color: darkslateblue;
        color: white;
        border-color: darkslateblue;
        cursor: pointer;
      }
      
      #roster-container{
        margin: 0 auto 30px auto;
        width: 55%;
        height: 60%;
        overflow-y: scroll;
        text-align: center;
       
      }

    
      #roster {
        
        display: inline-block;

        font-family: Avenir, Nunito;
        margin: 10px 10px;
        font-size: 28px;
        
        
       }
 
      hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 0.1em auto;
      }
      #menu {
        margin-left: 10px;
      }

button {
  padding-left: 5px;
  padding-right: 5px;
}